
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h1>Editing Book</h1>
              <% if @book.errors.any? %>
                <div class="alert alert-warning">
                  <%= @book.errors.count %>errors prohibited this obj flom being save:<br>
                  <% @book.errors.full_messages.each do |massage| %>
                  <%= massage %>
                  <% end %>
                </div>
              <% end %>

             <%= form_for(@book) do |f| %>
              <h4>Title</h4>
              <%= f.text_field :title, :class =>"form-control" %>
              <h4>Opinion</h4>
              <%= f.text_area :body, :class =>"form-control" %>
              <br>
              <%= f.submit "Update Book" ,class: "btn btn-primary btn-block" %>
            <% end %>
            <br>
            <%=link_to'Show', book_path(@book) %>
            |
            <%=link_to'Back', books_path %>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>

