<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navber-fixed-top navbar-inverse">
      <div class="container">
        <nav class="navbar-text navbar-left">
        <span>Bookers2</span>
        </nav>
          <ul class="nav navbar-nav navbar-right" >
          <% if user_signed_in? %>
          <li class="">
          <%= link_to user_path(current_user.id) do %>
          <span class="glyphicon glyphicon-home" aria-hidden="true">　Home</span>
          <% end %>
          </li>
          <li class="">
          <%= link_to users_path do %>
          <span class="glyphicon glyphicon-user" aria-hidden="true">　Users</span>
          <% end %>
          </li>
          <li class="">
          <%= link_to books_path do %>
          <span class="glyphicon glyphicon-book" aria-hidden="true">　Books</span>
          <% end %>
          </li>
          <li class="">
          <%= link_to destroy_user_session_path, method: :delete do %>
          <span class="glyphicon glyphicon-log-out" aria-hidden="true">　logout</span>
          <% end %>
          </li>
          <% else %>
          <li class="">
          <%= link_to'Home', root_path %>
          </li>
          <li class="">
          <%= link_to'About', home_about_path %>
          </li>
          <li class="">
          <%= link_to "sign up", new_user_registration_path %>
          </li>
          <li class="">
          <%= link_to "login", new_user_session_path %>
          </li>
          <% end %>
          </ul>
      </div>
    </header>
    
      <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
      <% end %> 
    <%= yield %>

    <footer></footer>
  </body>
</html>